@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap");


:root {
  --background-color: #101010;
  --element-color: #1f1f1f;
  --text-color: #ffffff;

  --border-width: 3px;
  --border-style: solid;
  --border-color: #2f2f2f;

  --cover-margin: 25px;
  --cover-padding: 25px;
  --cover-width: calc(100vw - var(--cover-margin) * 2 - var(--cover-padding) * 2);
  --cover-height: calc(100vh - var(--cover-margin) * 2 - var(--cover-padding) * 2);

  --social-padding: 25px;
  --social-border: var(--border-width) var(--border-style) var(--border-color);
  --social-link-font-size: 35px;
}



* {
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Unbounded", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
  width: 1vw;
}

body::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.link {
  border-bottom: 1px solid var(--text-color);
  transition: all 0.3s ease-in-out;
}

a.link:hover {
  padding-bottom: 5px;
  margin-bottom: -5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.links > * {
  width: max-content;
}

.column.links > * + * {
  margin-top: 5px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


main > .cover {
  background: var(--element-color);
  margin: var(--cover-margin);
  padding: var(--cover-padding);
  width: var(--cover-width);
  height: var(--cover-height);
  border: 3px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

main > .cover .details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > .cover .name {
  font-size: 50px;
}

main > .cover .communication b {
  width: auto;
}

main > .cover .profession {
  font-size: 50px;
  writing-mode: vertical-rl;
  rotate: 180deg;
}


main > .social {
  background: var(--element-color);
  padding: var(--social-padding);
  padding-bottom: 15px;
  border: var(--social-border);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > .social a.icon-link {
  font-size: 35px;
}

main > .social a.icon-link + a.icon-link {
  margin-left: 25px;
}


main > .quote {
  background: var(--element-color);
  margin: 25px;
  margin-top: 0;
  padding: 50px;
  max-width: calc(100vw - 100px);
  border: 3px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

main > .quote .text {
  margin-top: 5px;
  margin-bottom: 10px;
}

main > .quote .author {
  margin-right: 25px;
}


footer {
  background: black;
  padding: 25px;
  display: flex;
  gap: 25px;
}


@media screen and (min-width: 1000px) {
  main > .social {
    margin-bottom: -50px;
    transform: translateY(calc(-1 *(var(--social-padding) + var(--border-width) + var(--social-link-font-size) / 2  + var(--cover-margin))));
    z-index: 1;
  }
}

@media screen and (max-width: 1000px) and (min-width: 730px) {
  main > .social {
    margin-bottom: 25px;
    transform: none;
  }
}

@media screen and (max-width: 730px) and (min-width: 500px) {
  main > .social {
    margin-bottom: 25px;
    width: calc(100vw - 100px);
    transform: none;
  }

  main > .quote {
    padding: 25px;
    width: calc(100vw - 100px);
  }

  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  main > .cover .profession {
    display: none;
  }

  main > .social {
    margin-bottom: 25px;
    width: calc(100vw - 100px);
    transform: none;
  }

  main > .quote {
    padding: 25px;
    width: calc(100vw - 100px);
  }

  footer {
    flex-direction: column;
  }
}